
$app-primary-color: rgb(1, 20, 60);
$app-primary-color-bright: rgb(2, 28, 85);
$app-secondary-color: rgb(235, 156, 10);
$app-secondary-color-bright: rgb(255, 169, 8);
$app-border-color: #01133a2e;
$app-bg-color: whitesmoke;
