<div class="container-fluid">
  <div>
    <a [routerLink]="['/console/idap/dashboard']">IDAP</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    <a [routerLink]="['/console/idap/users']">Users</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    Create user
  </div>

  <div class="row pt-3 align-items-center">
    <div class="col">
      <h3>Create user</h3>
    </div>
  </div>

  <div class="row mat-typography">
    <mat-stepper labelPosition="bottom" [linear]="isLinear" [orientation]="(stepperOrientation | async)!" #stepper>
      <mat-step [stepControl]="userFormGroup">
        <form [formGroup]="userFormGroup">
          <ng-template matStepLabel>Details</ng-template>

          <h5 class="mb-1 mt-3 fw-bold">Set user details</h5>
          <hr class="mt-1">
          <div class="row">
            <label for="groupName" class="form-label">User name<span>*</span></label>
            <div class="col col-sm-5">
              <input type="text" class="form-control form-control-sm" id="groupName" formControlName="userName">
              <small class="form-text">
                Maximum 128 characters. Use alphanumeric and '+=,.@-_' characters.
              </small>
            </div>
          </div>

          <h4 class="mb-1 mt-3 fw-bold">Add tags</h4>
          <hr class="mt-1 mb-1">
          <div class="row">
            <p>IDAP tags are key-value pairs you can add to your user. Tags can include user information, such as an
              email
              address, or can be descriptive, such as a job title. You can use the tags to organize, track, or control
              access for this user.</p>

            <div class="col table-responsive pb-2">
              <table class="table mb-1">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Key*</th>
                    <th scope="col">Value</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">
                      <input class="form-control form-control-sm" type="text" [value]="provinceTag.key" disabled>
                    </td>
                    <td>
                      <select [(ngModel)]="provinceTag.value" [ngModelOptions]="{standalone: true}"
                        class="form-select form-select-sm" (change)="onGeoChange('province')">
                        <option value="">Select a province...</option>
                        <option [ngValue]="province" *ngFor="let province of provinces; let i=index">
                          {{province.name}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td width="20%">
                      <input class="form-control form-control-sm" type="text" [value]="districtTag.key" disabled>
                    </td>
                    <td>
                      <select [(ngModel)]="districtTag.value" [ngModelOptions]="{standalone: true}"
                        class="form-select form-select-sm" (change)="onGeoChange('district')">
                        <option value="">Select a district...</option>
                        <option [ngValue]="district" *ngFor="let district of districts; let i=index">
                          {{district.name}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td width="20%">
                      <input class="form-control form-control-sm" type="text" [value]="localTag.key" disabled>
                    </td>
                    <td>
                      <select [(ngModel)]="localTag.value" [ngModelOptions]="{standalone: true}"
                        class="form-select form-select-sm" (change)="onGeoChange('local')">
                        <option value="">Select a local...</option>
                        <option [ngValue]="local" *ngFor="let local of locals; let i=index">
                          {{local.name}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td width="20%">
                      <input class="form-control form-control-sm" type="text" [value]="wardTag.key" disabled>
                    </td>
                    <td>
                      <select [(ngModel)]="wardTag.value" [ngModelOptions]="{standalone: true}"
                        class="form-select form-select-sm" (change)="onGeoChange('ward')">
                        <option value="">Select a ward...</option>
                        <option [ngValue]="ward.code" *ngFor="let ward of wards; let i=index">
                          {{ward.number}}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngFor="let tag of tags; let i=index">
                    <td width="20%">
                      <input class="form-control form-control-sm" [(ngModel)]="tag.key"
                        [ngModelOptions]="{standalone: true}" type="text" placeholder="Add new key"
                        [pattern]="core.tagPatten" [disabled]="tag.disabled" #key="ngModel"
                        [ngClass]="{'validateInput': key.dirty && key.invalid}">
                      <div *ngIf="key.invalid" class="invalid-feedback d-block">
                        <div *ngIf="key.errors?.['pattern']">
                          Key can contain alphanumeric characters, or any of the following: _.:/=+-@
                        </div>
                      </div>
                    </td>
                    <td width="68%">
                      <input class="form-control form-control-sm" [(ngModel)]="tag.value"
                        [ngModelOptions]="{standalone: true}" type="text" [pattern]="core.tagPatten"
                        [disabled]="tag.disabled" #value="ngModel"
                        [ngClass]="{'validateInput': value.dirty && value.invalid}">
                      <div *ngIf="value.invalid" class="invalid-feedback d-block">
                        <div *ngIf="value.errors?.['pattern']">
                          Value can contain alphanumeric characters, or any of the following: _.:/=+-@
                        </div>
                      </div>
                    </td>
                    <td class="text-center align-middle">
                      <button class="btn btn-sm btn-custom-primary" *ngIf="tags.length-1 === i" (click)="addTag(i)"
                        [disabled]="!(!core.isEmptyOrNull(tag.key) && key.valid) || value.invalid">
                        <i class="fas fa-plus"></i>
                        Add tag
                      </button>
                      <i class="fas fa-times" *ngIf="tags.length-1 !== i" (click)="removeTag(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="userProfileFormGroup">
        <form [formGroup]="userProfileFormGroup">
          <ng-template matStepLabel>Profile</ng-template>
          <h5 class="mb-1 mt-3 fw-bold">Set profile password</h5>
          <hr class="mt-1 mb-1">
          <div class="row">
            <p>Autogenerated passwords are provided in the last step.</p>
            <label class="form-label col col-sm-3 d-flex justify-content-sm-end fw-bold">
              Console password<span>*</span></label>
            <div class="col col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="autogenerated" value="auto"
                  formControlName="passwordType">
                <label class="form-check-label" for="autogenerated">
                  Autogenerated password
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="custom" value="custom" formControlName="passwordType">
                <label class="form-check-label" for="custom">
                  Custom password
                </label>
              </div>
              <div class="row ps-3 pt-2">
                <div class="col col-sm-5 ps-3">
                  <input type="password" class="form-control form-control-sm" id="customPassword"
                    formControlName="password">
                  <div class="form-check" *ngIf="userProfileFormGroup.controls['passwordType'].value == 'custom'">
                    <input class="form-check-input" type="checkbox" value="" id="showPassword"
                      (click)="showHidePassword('customPassword')">
                    <label class="form-check-label" for="showPassword">
                      Show password
                    </label>
                  </div>
                  <!-- <small class="form-text">
                    Maximum 128 characters. Use alphanumeric and '+=,.@-_' characters.
                  </small> -->
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <label class="form-label col col-sm-3 d-flex justify-content-sm-end fw-bold">
              Require password reset</label>
            <div class="col col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="requireReset"
                  formControlName="requirePasswordReset">
                <label class="form-check-label" for="requireReset">
                  Users must create a new password at next sign-in
                </label>
              </div>
            </div>
          </div>

        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Groups</ng-template>

        <h5 class="mb-1 mt-3 fw-bold">Add user to group(s)</h5>
        <hr class="mt-1">
        <div class="row pb-2 pt-2">
          <div class="col">
            <button class="btn btn-sm btn-custom-primary" (click)="openCreateGroupModal('Create user group')">New
              group</button>
          </div>
          <div class="col d-flex justify-content-sm-end">
            <button class="btn btn-sm btn-outline-secondary" (click)="getGroups()">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
        <dx-data-grid [dataSource]="groups" [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true"
          [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
          [(selectedRowKeys)]="selectedRows" noDataText="No data available">
          <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
          </dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
          </dxo-pager>
          <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
          </dxo-load-panel>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
          <dxo-selection selectAllMode="allPages" showCheckBoxesMode="always" mode="multiple"></dxo-selection>

          <dxi-column dataField="groupId" [visible]="false"></dxi-column>
          <dxi-column dataField="groupName" caption="Group name" headerCellTemplate="groupHeaderTemplate"
            cellTemplate="groupNameTemplate" [allowHiding]="false">
          </dxi-column>
          <dxi-column dataField="createDate" caption="Created at" cellTemplate="createDateTemplate"></dxi-column>

          <div *dxTemplate="let info of 'groupHeaderTemplate'">
            {{info.column.caption}}&nbsp;<i class="fa fa-sm fa-external-link-alt"></i>
          </div>
          <div *dxTemplate="let cell of 'groupNameTemplate'">
            <a [routerLink]="['/console/idap/user-groups/details', cell.data.groupName]"
              target="_blank">{{cell.data.groupName}}</a>
          </div>

          <div *dxTemplate="let cell of 'createDateTemplate'">
            {{core.getDateInMoment(cell.data.createDate)}}
          </div>

          <dxo-export [enabled]="true" fileName="User groups" [allowExportSelectedData]="true"></dxo-export>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        </dx-data-grid>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Complete</ng-template>

        <h5 class="mb-1 mt-3 fw-bold">User credentials</h5>
        <hr class="mt-1 mb-1">
        <div class="row">
          <p>You can either copy the credentials or send an email to the recipient</p>

          <div class="col table-responsive pb-2">
            <table class="table mb-1">
              <thead class="table-light">
                <tr>
                  <th scope="col">User name</th>
                  <th scope="col">Password</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{userFormGroup.value.userName}}
                  </td>
                  <td>
                    {{password || ""}}
                  </td>
                  <td class="align-middle">
                    <span class="text-button" title="Send email">
                      <i class="fa fa-paper-plane"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <hr class="mt-4">
  <div class="row">
    <div class="col">
      <span class="fw-bold">* Required</span>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <a [routerLink]="['/console/idap/users']"
        *ngIf="stepper.selectedIndex == 0 || stepper.selectedIndex == 3">Close</a>
      <button class="btn btn-sm btn-custom-secondary ms-3" [disabled]="userFormGroup.invalid"
        (click)="nextStep(stepper)" *ngIf="stepper.selectedIndex == 0">
        Next: Profile
      </button>
      <button class="btn btn-sm btn-custom-secondary ms-3" [disabled]="userProfileFormGroup.invalid"
        (click)="nextStep(stepper)" *ngIf="stepper.selectedIndex == 1">
        Next: Groups
      </button>
      <button class="btn btn-sm btn-custom-secondary ms-3" (click)="nextStep(stepper)"
        *ngIf="stepper.selectedIndex == 2">
        Next: Credentials
      </button>
      <button class="btn btn-sm btn-custom-secondary ms-3" (click)="nextStep(stepper)"
        *ngIf="stepper.selectedIndex == 3">
        New user
      </button>
    </div>
  </div>
</div>

<ng-template #createGroupModal let-c="close" let-d="dismiss">
  <div class="modal-header app-bg-custom">
    <span class="modal-title">{{ modalTitle }}</span>
    <button type="button" class="btn btn-sm btn-custom-secondary btn-close" aria-label="Close"
      (click)="d('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup]="groupFormGroup">
      <label for="groupName" class="form-label">User group name</label>
      <div class="col">
        <input type="text" class="form-control form-control-sm" id="groupName" formControlName="groupName">
        <small class="form-text">
          Maximum 128 characters. Use alphanumeric and '+=,.@-_' characters.
        </small>
      </div>
    </form>
  </div>
  <div class="modal-footer app-bg-custom pt-1 pb-1">
    <div class="row">
      <div class="col d-flex justify-content-end align-items-center">
        <span (click)="d('Cancel')" class="text-button">Cancel</span>
        <button class="btn btn-sm btn-custom-secondary ms-3" [disabled]="groupFormGroup.invalid"
          (click)="createGroup()">Create
          group</button>
      </div>
    </div>
  </div>
</ng-template>

<ngx-loading [show]="loadingData"></ngx-loading>
