<div class="container-fluid">
  <h4>INFRASYS dashboard</h4>

  <div class="row pt-5">
    <div class="col-10">
      <h5>INFRASYS resources</h5>
    </div>
    <div class="col d-flex justify-content-sm-end" *ngIf="unauthorisedDashboard.authorised">
      <button class="btn btn-sm btn-outline-secondary" (click)="getSiteSummary()">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="unauthorisedDashboard.authorised; else elseTemplate">
    <div class="row pb-3">
      <div class="col border-end">
        <div>Sites</div>
        <div>
          <a [routerLink]="['../sites']">{{siteSummary.sites}}</a>
        </div>
      </div>
      <div class="col border-end">
        <div>My sites</div>
        <div>
          <a routerLink="../my-sites">{{siteSummary.mySites}}</a>
        </div>
      </div>
      <div class="col border-end">
        <div>My audited sites</div>
        <div>
          <a routerLink="../my-sites">{{siteSummary.myAuditedSites}}</a>
        </div>
      </div>
      <div class="col border-end">
        <div>My closed sites</div>
        <div>
          <a routerLink="../my-sites">{{siteSummary.myClosedSites}}</a>
        </div>
      </div>
      <div class="col">
        <div>My archived sites</div>
        <div>
          <a routerLink="../my-sites">{{siteSummary.myArchivedSites}}</a>
        </div>
      </div>
    </div>
    <!-- <div class="alert alert-warning">
      <h4 class="alert-heading">My site categories</h4>
      <p>Overview of the sites the user manages here</p>
    </div> -->
  </ng-container>
  <ng-template #elseTemplate>
    <div class="alert alert-danger">
      <h4 class="alert-heading">Unauthorised action</h4>
      <p>{{unauthorisedDashboard.description}}</p>
    </div>
  </ng-template>
</div>
<ngx-loading [show]="loadingData"></ngx-loading>
