<div class="container-fluid">
  <div>
    <a [routerLink]="['../dashboard']">IDAP</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    Policies
  </div>
  <hr>

  <div class="row">
    <div class="col">
      <h4>Policies</h4>
    </div>
    <div class="col d-flex justify-content-end">
      <span class="text-muted">Total: {{policies.length}}</span>
    </div>
  </div>

  <div class="pt-3">
    <div class="row pb-2">
      <div class="col">
        <button class="btn btn-sm btn-custom-secondary" [routerLink]="['../policies/create']">Create policy</button>
      </div>
      <div class="col d-flex justify-content-end" *ngIf="unauthorisedDashboard.authorised">
        <button class="btn btn-sm btn-outline-secondary" (click)="getPolicies()" title="Refresh">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>
    </div>
    <ng-container *ngIf="unauthorisedDashboard.authorised; else elseTemplate">
      <span class="add-datagrid-buttons">
        <button class="btn btn-sm btn-danger" [disabled]="selectedRows?.length == 0">Delete</button>
        <span *ngIf="selectedRows?.length" class="selection-count text-muted">{{
          selectedRows?.length }} selected</span>
      </span>
      <dx-data-grid #usersContainer [dataSource]="policies" [columnAutoWidth]="true" [showBorders]="true"
        [showRowLines]="true" [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
        [(selectedRowKeys)]="selectedRows" noDataText="No data available">
        <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
        </dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
        </dxo-pager>
        <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
        </dxo-load-panel>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-selection selectAllMode="allPages" showCheckBoxesMode="always" mode="multiple"></dxo-selection>

        <dxi-column dataField="policyId" [visible]="false"></dxi-column>
        <dxi-column dataField="policyName" caption="Policy name" cellTemplate="userNameTemplate" [allowHiding]="false">
        </dxi-column>isAttachable
        <dxi-column dataField="isAttachable"></dxi-column>
        <dxi-column dataField="description" [allowHiding]="false"></dxi-column>
        <dxi-column dataField="createDate" caption="Created at" cellTemplate="createDateTemplate"></dxi-column>
        <dxi-column dataField="updateDate" caption="Updated at" cellTemplate="updateDateTemplate"></dxi-column>

        <div *dxTemplate="let cell of 'userNameTemplate'">
          <a [routerLink]="['../policies/details', cell.data.policyId]">{{cell.data.policyName}}</a>
        </div>

        <div *dxTemplate="let cell of 'createDateTemplate'">
          {{core.getDateInMoment(cell.data.createDate)}}
        </div>

        <div *dxTemplate="let cell of 'updateDateTemplate'">
          {{core.getDateInMoment(cell.data.updateDate)}}
        </div>

        <dxo-export [enabled]="true" fileName="Policies" [allowExportSelectedData]="true"></dxo-export>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      </dx-data-grid>
      <component-remote-pagination [maxItemsList]="core.maxItemsList" [maxItems]="core.maxItems"
        [data]="policiesData" (onSelectionChanged)="onSelectionChanged($event)" (onNextPage)="onNextPage($event)"
        (onPreviousPage)="onPreviousPage($event)">
      </component-remote-pagination>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="alert alert-danger">
        <h4 class="alert-heading">Unauthorised action</h4>
        <p>{{unauthorisedDashboard.description}}</p>
      </div>
    </ng-template>
  </div>
</div>
<ngx-loading [show]="loadingData"></ngx-loading>
