<div class="container p-4">
  <div class="row">
    <h1>KZNSC Management Console</h1>
    <span>(KwaZulu-Natal Sports Confederation)</span>
  </div>
  <div class="card col-8 mt-3">
    <div class="card-header">
      <h5 class="mb-0">KZNSC Services</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <a routerLink="/console/idap"><i class="fas fa-user-shield text-secondary"></i> IDAP</a>
        </div>
        <div class="col-3">
          <a routerLink="/console/infrasys" class="ps-2"><i class="fas fa-building text-secondary"></i> INFRASYS</a>
        </div>
      </div>
    </div>
  </div>
</div>
