<div class="container-fluid">
  <div>
    <a [routerLink]="['/console/idap/dashboard']">IDAP</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    <a [routerLink]="['/console/idap/users']">Users</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    {{userName}}
  </div>

  <div class="row pt-3 align-items-center">
    <div class="col">
      <h3 class="">{{userName}}</h3>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-sm btn-danger">Delete</button>
    </div>
  </div>

  <div class="row pt-3 align-items-center">
    <div class="col">
      <h5>Summary</h5>
    </div>
    <div class="col-12 col-sm-8">
      <div class="row">
        <div class="col-4 col-sm d-flex justify-content-sm-end">
          <span>Creation time:</span>
        </div>
        <div class="col">
          {{core.getDate(userData?.createDate)}}
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-sm btn-secondary">Edit</button>
    </div>
  </div>

  <nav ngbNav #nav="ngbNav" class="nav-pills pt-3">
    <ng-container ngbNavItem>
      <a ngbNavLink>Policies {{userPolicies.length !== 0? "("+userPolicies.length+")": ""}}</a>
      <ng-template ngbNavContent>
        <dx-data-grid [dataSource]="userPolicies" [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true"
          [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
          noDataText="No data available">
          <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
          </dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
          </dxo-pager>
          <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
          </dxo-load-panel>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

          <dxi-column dataField="groupId" [visible]="false"></dxi-column>
          <dxi-column dataField="policyName" caption="Policy" headerCellTemplate="policyHeaderTemplate"
            cellTemplate="policyTemplate" [allowHiding]="false">
          </dxi-column>
          <dxi-column dataField="createDate" caption="Created at" cellTemplate="createDateTemplate"></dxi-column>

          <div *dxTemplate="let info of 'policyHeaderTemplate'">
            {{info.column.caption}}&nbsp;<i class="fa fa-sm fa-external-link-alt"></i>
          </div>
          <div *dxTemplate="let cell of 'policyTemplate'">
            <a [routerLink]="['/console/idap/user-groups/details/'+cell.data.policyName]">{{cell.data.policyName}}</a>
          </div>

          <div *dxTemplate="let cell of 'createDateTemplate'">
            {{core.getDateInMoment(cell.data.createDate)}}
          </div>

          <dxo-export [enabled]="true" fileName="User policies" [allowExportSelectedData]="true"></dxo-export>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        </dx-data-grid>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Groups {{userGroups.length !== 0? "("+userGroups.length+")": ""}}</a>
      <ng-template ngbNavContent>
        <div class="pt-3">
          <dx-data-grid [dataSource]="userGroups" [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true"
            [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
            noDataText="No data available">
            <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
            </dxo-pager>
            <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
            </dxo-load-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

            <dxi-column dataField="groupId" [visible]="false"></dxi-column>
            <dxi-column dataField="groupName" caption="Group name" headerCellTemplate="groupHeaderTemplate"
              cellTemplate="groupTemplate" [allowHiding]="false">
            </dxi-column>
            <dxi-column dataField="createDate" caption="Created at" cellTemplate="createDateTemplate"></dxi-column>

            <div *dxTemplate="let info of 'groupHeaderTemplate'">
              {{info.column.caption}}&nbsp;<i class="fa fa-sm fa-external-link-alt"></i>
            </div>
            <div *dxTemplate="let cell of 'groupTemplate'">
              <a [routerLink]="['/console/idap/user-groups/details/'+cell.data.groupName]"
                target="_blank">{{cell.data.groupName}}</a>
            </div>

            <div *dxTemplate="let cell of 'createDateTemplate'">
              {{core.getDateInMoment(cell.data.createDate)}}
            </div>

            <dxo-export [enabled]="true" fileName="User groups" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          </dx-data-grid>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Tags {{userData?.tags.length !== 0? "("+userData?.tags.length+")": ""}}</a>
      <ng-template ngbNavContent>
        <dx-data-grid [dataSource]="userData?.tags || []" [columnAutoWidth]="true" [showBorders]="true"
          [showRowLines]="true" [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
          noDataText="No data available">
          <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
          </dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
          </dxo-pager>
          <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
          </dxo-load-panel>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

          <dxi-column dataField="key" [allowHiding]="false">
          </dxi-column>
          <dxi-column dataField="value"></dxi-column>

          <dxo-export [enabled]="true" fileName="User policies" [allowExportSelectedData]="true"></dxo-export>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        </dx-data-grid>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<ngx-loading [show]="loadingData"></ngx-loading>
