<div class="fixed-bottom nav-container">
  <div class="container-fluid pt-2 pb-2">
    <div class="row align-items-center">
      <div class="col">
        <span>Feedback</span>
      </div>
      <div class="col d-none">
        <span>Language choice</span>
      </div>
      <div class="col col-sm-6"></div>
      <div class="col d-sm-flex justify-content-sm-end">
        <span>&copy;2022, KZNSC</span>
      </div>
      <div class="col d-sm-flex justify-content-sm-end">
        <span>Privacy</span>
      </div>
      <div class="col d-sm-flex justify-content-sm-end">
        <span>Terms</span>
      </div>
    </div>
  </div>
</div>
