<div class="container-fluid">
  <div>
    <a [routerLink]="['/console/idap/dashboard']">IDAP</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    <a [routerLink]="['/console/idap/policies']">Policies</a> &nbsp;
    <i class="fa fa-chevron-right"></i> &nbsp;
    {{policyData?.policyName}}
  </div>

  <div class="row pt-3 align-items-center">
    <div class="col">
      <h3 class="">{{policyData?.policyName}}</h3>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-sm btn-secondary me-3">Edit</button>
      <button class="btn btn-sm btn-danger">Delete</button>
    </div>
  </div>

  <div class="row pt-3 align-items-center summary-header">
    <div class="col">
      <h5>Summary</h5>
    </div>
    <div class="col-12 col-sm-8">
      <div class="row">
        <div class="col-4 col-sm d-flex justify-content-sm-end">
          <span>Creation time:</span>
        </div>
        <div class="col">
          {{core.getDate(policyData?.createDate)}}
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm d-flex justify-content-sm-end">
          <span>Description:</span>
        </div>
        <div class="col">
          {{policyData?.description}}
        </div>
      </div>
    </div>
  </div>

  <nav ngbNav #nav="ngbNav" class="nav-pills pt-3">
    <ng-container [ngbNavItem]="1">
      <a ngbNavLink>Policy documents</a>
      <ng-template ngbNavContent>
        <div class="pt-3">
          <dx-data-grid [dataSource]="policyData?.policyDocument?.actions || []" [columnAutoWidth]="true"
            [showBorders]="true" [showRowLines]="true" [showColumnLines]="false" [allowColumnReordering]="true"
            [wordWrapEnabled]="true" noDataText="No data available">
            <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
            </dxo-pager>
            <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
            </dxo-load-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

            <dxi-column dataField="service" [allowHiding]="false">
            </dxi-column>
            <dxi-column dataField="resources" cellTemplate="resourcesTemplate"></dxi-column>

            <div *dxTemplate="let cell of 'resourcesTemplate'">
              {{cell.data.resources?.toString()}}
            </div>

            <dxo-export [enabled]="true" fileName="Policy documents" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          </dx-data-grid>
        </div>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="2">
      <a ngbNavLink>Groups {{policySummary? "("+policySummary.groups+")": ""}}</a>
      <ng-template ngbNavContent>
        <div class="pt-3">
          <div class="row pb-1">
            <div class="col">
              <button class="btn btn-sm btn-custom-secondary"
                [routerLink]="['/console/idap/policies/details/', policyId, 'add', 'groups']">
                Attach groups
              </button>
            </div>
          </div>
          <span class="add-datagrid-buttons">
            <button class="btn btn-sm btn-danger" (click)="detachPolicies()"
              [disabled]="selectedGroupsRows?.length == 0">Detach</button>
            <span *ngIf="selectedGroupsRows?.length" class="selection-count text-muted">{{
              selectedGroupsRows?.length }} selected</span>
          </span>
          <dx-data-grid [dataSource]="policyGroups" [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true"
            [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
            [(selectedRowKeys)]="selectedGroupsRows" noDataText="No data available">
            <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
            </dxo-pager>
            <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
            </dxo-load-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-selection selectAllMode="allPages" showCheckBoxesMode="always" mode="multiple"></dxo-selection>

            <dxi-column dataField="groupId" [visible]="false"></dxi-column>
            <dxi-column dataField="groupName" caption="Group name" headerCellTemplate="groupHeaderTemplate"
              cellTemplate="groupTemplate" [allowHiding]="false">
            </dxi-column>
            <dxi-column dataField="createDate" caption="Created at" cellTemplate="createDateTemplate"></dxi-column>

            <div *dxTemplate="let info of 'groupHeaderTemplate'">
              {{info.column.caption}}&nbsp;<i class="fa fa-sm fa-external-link-alt"></i>
            </div>
            <div *dxTemplate="let cell of 'groupTemplate'">
              <a [routerLink]="['/console/idap/user-groups/details/'+cell.data.groupName]"
                target="_blank">{{cell.data.groupName}}</a>
            </div>

            <div *dxTemplate="let cell of 'createDateTemplate'">
              {{core.getDateInMoment(cell.data.createDate)}}
            </div>

            <dxo-export [enabled]="true" fileName="Group policies" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          </dx-data-grid>
        </div>
      </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="3">
      <a ngbNavLink>Tags {{policySummary? "("+policySummary.tags+")": ""}}</a>
      <ng-template ngbNavContent>
        <div class="pt-3">
          <dx-data-grid [dataSource]="policyData?.tags || []" [columnAutoWidth]="true" [showBorders]="true"
            [showRowLines]="true" [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true"
            noDataText="No data available">
            <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
            </dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
            </dxo-pager>
            <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
            </dxo-load-panel>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

            <dxi-column dataField="key" [allowHiding]="false">
            </dxi-column>
            <dxi-column dataField="value"></dxi-column>

            <dxo-export [enabled]="true" fileName="Policy tags" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          </dx-data-grid>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<ngx-loading [show]="loadingData"></ngx-loading>
