<main class="is-responsive">
  <h3 class="text-center fw-bold">SFRS Password reset</h3>
  <form [formGroup]="resetFormGroup">
    <div class="col-12 mb-3">
      <label for="username" class="col-form-label-sm fw-bold">Username*</label>
      <input type="text" class="form-control form-control-sm" id="username" formControlName="username">
    </div>
    <div class="col-12 mb-1">
      <label for="password" class="col-form-label-sm fw-bold">Password*</label>
      <input type="password" class="form-control form-control-sm" id="password" formControlName="password">
    </div>
    <div class="col-12 mb-3">
      <label for="confirmPassword" class="col-form-label-sm fw-bold">Confirm password*</label>
      <input type="password" class="form-control form-control-sm" id="confirmPassword"
        formControlName="confirmPassword">
    </div>
    <div class="col-12 d-grid mb-4">
      <button type="submit" class="btn btn-sm btn-primary fw-bold"
        [disabled]="!(resetFormGroup.valid && resetFormGroup.value.password == resetFormGroup.value.confirmPassword)"
        (click)="updateLogin()">
        Reset password
      </button>
    </div>
  </form>
</main>
<ngx-loading [show]="loadingData"></ngx-loading>
