<div class="container-fluid">
  <h3>IAM dashboard</h3>

  <div class="row pt-5">
    <div class="col-10">
      <h5>IAM resources</h5>
    </div>
    <div class="col d-flex justify-content-sm-end">
      <button class="btn btn-sm btn-secondary">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col border-end">
      <div>User groups</div>
      <div>
        <a href="/user-groups">0</a>
      </div>
    </div>
    <div class="col border-end">
      <div>Users</div>
      <div>
        <a href="/users">0</a>
      </div>
    </div>
    <div class="col">
      <div>Policies</div>
      <div>
        <a href="/policies">0</a>
      </div>
    </div>
  </div>
</div>
