<div class="container-fluid">
  <h4>IDAP dashboard</h4>

  <div class="row pt-5">
    <div class="col-10">
      <h5>IDAP resources</h5>
    </div>
    <div class="col d-flex justify-content-sm-end">
      <button class="btn btn-sm btn-secondary">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col border-end">
      <div>User groups</div>
      <div>
        <a [routerLink]="['/console/idap/user-groups']">2</a>
      </div>
    </div>
    <div class="col border-end">
      <div>Users</div>
      <div>
        <a routerLink="/console/idap/users">13</a>
      </div>
    </div>
    <div class="col">
      <div>Policies</div>
      <div>
        <a routerLink="/console/idap/policies">57</a>
      </div>
    </div>
  </div>
</div>
