<div class="container-fluid">
  <h4>User groups</h4>
  <hr>

  <div class="pt-3">
    <dx-data-grid [dataSource]="userGroups" [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true"
      [showColumnLines]="false" [allowColumnReordering]="true" [wordWrapEnabled]="true" [hoverStateEnabled]="true"
      noDataText="No data available">
      <dxo-paging [enabled]="true" [pageSize]="20" [remoteOperations]="{ groupPaging: false }">
      </dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30, 40, 50]" [showInfo]="true">
      </dxo-pager>
      <dxo-load-panel [height]="75" [width]="75" [showPane]="true" [shading]="false">
      </dxo-load-panel>
      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

      <dxi-column dataField="groupName" caption="Group name"></dxi-column>
      <dxi-column dataField="users"></dxi-column>
      <dxi-column dataField="permissions"></dxi-column>
      <dxi-column dataField="createdAt" caption="Created at"></dxi-column>
      <dxi-column cellTemplate="actionsTemplate" caption="" alignment="right"></dxi-column>

      <div *dxTemplate="let cell of 'actionsTemplate'">
        <div class="mainActions">
          <ul>
            <li>
              <i class="fa fa-lg fa-edit secondary" title="Edit"></i>
            </li>
            <li>
              <i class="fa fa-lg fa-trash-o secondary" title="Delete"></i>
            </li>
          </ul>
        </div>
      </div>

      <dxo-export [enabled]="true" fileName="User groups" [allowExportSelectedData]="true"></dxo-export>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    </dx-data-grid>
  </div>
</div>
